.list {
  width: 100%;
}

.item {
  --timeline-color: var(--mantine-color-gray-4);
  --timeline-line-color: var(--mantine-color-gray-4);
  --timeline-label-color: var(--mantine-color-gray-5);
  --timeline-line-height: 18px;
  min-height: 44px;
}

.item[data-active] {
  --timeline-color: var(--mantine-primary-color-filled);
  --timeline-line-color: var(--mantine-primary-color-light);
  --timeline-label-color: var(--mantine-color-black);
  --timeline-line-height: 34px;
  min-height: 60px;
}

.item[data-exit][data-interrupted] {
  --timeline-color: var(--mantine-color-red-6);
  --timeline-label-color: var(--mantine-color-red-6);
}

.item[data-last] {
  min-height: 24px;
}

.rail {
  align-items: center;
  display: flex;
  flex: 0 0 22px;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.dot {
  background: var(--mantine-color-white);
  border: 3px solid var(--timeline-color);
  border-radius: 999px;
  flex: 0 0 22px;
  height: 22px;
  width: 22px;
}

.line {
  background: var(--timeline-line-color);
  border-radius: 999px;
  flex: 0 0 var(--timeline-line-height);
  height: var(--timeline-line-height);
  width: 3px;
}

.content {
  flex: 1 1 auto;
  min-width: 0;
  padding-bottom: var(--mantine-spacing-lg);
}

.item[data-last] .content {
  padding-bottom: 0;
}

.label {
  color: var(--timeline-label-color);
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  line-height: var(--mantine-line-height-md);
}

.meta {
  line-height: var(--mantine-line-height-sm);
}

.timestamp {
  color: var(--mantine-color-gray-9);
}
