[data-variant=default] {
  .control {
    padding: 0.1875rem var(--mantine-spacing-md) 0.1875rem 0;
  }

  .content {
    padding-inline: 0;
  }
}

[data-variant=section] {
  .control {
    padding: 1rem 0;
  }

  .content {
    padding: 0 0 1.5rem 0;
  }

  .chevron {
    background-color: rgb(from var(--mantine-color-gray-6) R G B / 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    border-bottom: 1px solid var(--mantine-color-gray-3);
  }
}

[data-variant=contained] {
  .item {
    background-color: var(--mantine-color-gray-1);
    border-radius: var(--mantine-radius-xl);
    margin-bottom: var(--mantine-spacing-md);
    border: none;
    padding: 0 var(--mantine-spacing-md);
  }

  .control {
    padding: 1rem 0;
    &:hover {
      background-color: transparent;
    }
  }

  .content {
    padding: 0 0 1.5rem 0;
  }
}
