:global([data-variant=default]) .control {
  padding: 0.1875rem var(--mantine-spacing-md) 0.1875rem 0;
}

:global([data-variant=default]) .content {
  padding-inline: 0;
}

:global([data-variant=section]) .control {
  padding: 1rem 0;
}

:global([data-variant=section]) .content {
  padding: 0 0 1.5rem 0;
}

:global([data-variant=section]) .chevron {
  background-color: rgb(from var(--mantine-color-gray-6) R G B / 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global([data-variant=section]) .item {
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

:global([data-variant=card]) .item {
  background-color: var(--mantine-color-gray-1);
  border-radius: var(--mantine-radius-xl);
  border-bottom: none;
  margin-bottom: var(--mantine-spacing-sm);
  padding: 0.25rem 0.125rem;
}

:global([data-variant=card]) .control {
  padding: 0.75rem 0.5rem;
  position: relative;
}

:global([data-variant=card]) .chevron {
  position: absolute;
  left: 0.5rem;
  width: 20px;
  height: 20px;
  color: var(--mantine-color-gray-6);
}

:global([data-variant=card]) .label {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: var(--mantine-font-size-lg);
}

:global([data-variant=card]) .content {
  padding: 0 0.375rem 0.375rem 0.375rem;
}
