
.actionFooter {
  padding: 16px 0 40px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.actionFooterTray {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  margin: 0 auto;
  padding: 8px;
  background-color: var(--mantine-color-white);
  border-radius: 32px;
}
