.root {
  &[data-variant='secondary'] {
    background-color: rgb(from var(--mantine-color-indigo-6) R G B / 0.1);
    .label {
      color: black;
    }
    &:hover {
      background-color: rgb(from var(--mantine-color-indigo-6) R G B / 0.2);
    }
    &:disabled, &[data-disabled] {
      background-color: var(--mantine-color-disabled);
      .label {
        color: inherit;
      }
    }
  }

  &[data-variant='destructive'] {
    background-color: rgb(from var(--mantine-color-red-6) R G B / 0.1);
    .label {
      color: var(--mantine-color-red-6);
    }
    &:hover {
      background-color: rgb(from var(--mantine-color-red-6) R G B / 0.2);
    }
    &:disabled, &[data-disabled] {
      background-color: var(--mantine-color-disabled);
      .label {
        color: inherit;
      }
    }
  }
}

.label {
  font-weight: normal;
}
