.iconWrapper {
  display: none;
}

.label {
  white-space: normal;
  height: auto;
}

.label[data-checked] {
  padding-inline: var(--chip-padding);
}

.root[data-size='xl'] {
  label {
    height: 3rem;
    width: 100%;
  }
}
