.iconWrapper {
  display: none;
}

.label {
  --chip-bg: var(--mantine-color-gray-6);
  --chip-hover: var(--mantine-color-gray-7);
  color: var(--mantine-color-text);
  font-family: var(--mantine-font-family);
  font-size: var(--mantine-font-size-md);
  font-style: normal;
  font-weight: 400;
  white-space: normal;
  height: auto;
  padding: 0 16px;
}

.label[data-checked] {
  padding: 0 16px;
}

.root[data-size='xl'] {
  label {
    height: 3rem;
    width: 100%;
  }
}

.root[data-size='md'] {
  label {
    padding: .25rem 1.25rem;
  }
}

.root[disabled] .label {
  color: var(--mantine-color-dimmed);
}

.root[data-error='true'] .label {
  background-color: var(--mantine-color-red-1);
  &:hover {
    background-color: var(--mantine-color-red-2);
  }
}
