.iconWrapper {
  display: none;
}

.label {
  --chip-bg: var(--mantine-color-gray-6);
  --chip-hover: var(--mantine-color-gray-7);
  white-space: normal;
  height: auto;
}

.label[data-checked] {
  padding: 0 var(--chip-padding);
}

.root[data-size='xl'] {
  label {
    height: 3rem;
    width: 100%;
  }
}
