.label {
  font-weight: 600;
  line-height: 1.5555em;

  span {
    color: var(--mantine-color-red-6);
  }
}

.input {
  &:focus-within {
    --input-bd: var(--mantine-color-indigo-6);
  }
}

.error {
  margin-top: var(--mantine-spacing-xs);
}

[disabled] .label {
  color: var(--mantine-color-dimmed);
}