.label {
  font-weight: 600;
  line-height: 1.5555em;

  span {
    color: var(--mantine-color-red-6);
  }
}

.input {
  &:focus-within {
    --input-bd: var(--mantine-color-indigo-6);
  }
}

.error {
  font-size: var(--mantine-font-size-sm);
}
